.home-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.home-background {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url("/assets/images/planet-astronaut.jpg");
  background-size: cover;
  transition: background-position 1s ease-in-out;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home-start {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 4rem;
  gap: 1.75rem;
}

.home-title {
  font-size: 4.5rem;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.05em;
  background: linear-gradient(to right, #0ea5e9, #5eead4, #ebf8e1, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-description {
  margin-top: -20px;
  margin-left: 2.5rem;
  font-weight: 500;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(45 212 191 / var(--tw-text-opacity));
  line-height: 2rem /* 32px */;
}

.home-button-container {
  display: flex;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 500;
  width: auto;
  text-align: center;
}

.home-button {
  padding: 1.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.875rem;
  border-radius: 1.5rem;
  background: linear-gradient(to right, #1d4ed8, #0284c7, #5eead4);
  cursor: pointer;
  color: white;
}

/* Medium screens */
@media (max-width: 768px) {
  .home-start {
    margin-left: 0;
  }

  .home-title {
    font-size: 5rem;
  }

  .home-description {
    font-size: 1.5rem;
  }

  .home-button {
    font-size: 2rem;
  }
}

/* Mobile screens */
@media (max-width: 480px) {
  .home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -80px;
  }

  .home-start {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.75rem;
  }

  .home-title {
    font-size: 3rem;
    text-align: center;
  }

  .home-description {
    font-size: 1rem;
    text-align: center;
  }

  .home-button {
    font-size: 1.5rem;
  }
}
