.objSetting {
  position: fixed; /* 位置を固定 */
  top: 0; /* 画面上部からスタート */
  right: -100%; /* デフォルトで画面外に隠れる */
  width: 350px;
  height: 100%;
  transition: right 0.3s; /* 右からのスライドをスムーズに */
  z-index: 10; /* 他の要素より前に表示 */
  overflow-y: auto; /* 縦方向のオーバーフロー時にスクロールバーを表示 */
}

.objSetting.open {
  background-color: rgba(50, 50, 50, 1);
  right: 0;
}

.open-setting-btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
}

.btn {
  align-self: flex-end;
}
