.modal-container {
  width: 80vw;
  height: 55vh;
}

@media (min-width: 640px) {
  .modal-container {
    width: 70vw;
    height: 70vh;
  }
}

@media (min-width: 1024px) {
  .modal-container {
    width: 60vw;
    height: 60vh;
  }
}